<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
{{ with .Params.summary }}<meta name="description" content="{{ . }}">
{{ else }}{{ with site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}{{ end }}
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="/favicon.ico">
{{ $css := resources.Get "css/style.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.Title }}" href="/index.xml">
{{ with .Params.gid }}<meta name="wowotech-gid" content="{{ . }}">{{ end }}
